<!DOCTYPE html>
<html th:include="template :: modelo">
<body>
<div th:fragment="conteudo">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">Endereço</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aluno : ${alunos}">
            <th scope="row" th:text="${aluno.id}"></th>
            <td th:text="${aluno.nome}"></td>
            <td th:text="${aluno.telefone}"></td>
            <td th:text="${aluno.endereco}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>