<html th:include="template :: modelo">
<div th:fragment="conteudo">
  <form action="/novoprofessor" method="post" th:object="${professor}">
    <div class="mb-3">
      <label for="nomeProfessor" class="form-label">Nome</label>
      <input type="text" class="form-control"  th:field="*{nomeProfessor}">
    </div>
    <div class="mb-3">
      <label for="endereco" class="form-label">Endereço</label>
      <input type="text" class="form-control" th:field="*{endereco}" >
    </div>
    <button type="submit" class="btn btn-primary">Gravar</button>
  </form>
</div>
</html>